body {
	font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url("../images/darkwood.jpg");
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

h1 img, footer img {
	height: 200px;
	width: auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

#bg-video {
	max-height: 250px;
	width: 100%;
	height: auto;
	object-fit: cover;
}

footer {
    background-color: #000000;
    padding: 20px;
}

.box-footer {
    margin:  auto 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adiciona a direção do eixo principal como coluna */
}


.copyright {
	color: #FFFFFF;
	font-size: 10px;
	margin: 1px 0 0px;
}